[submodule ".atom/packages/spacegray-eighties-ui"]
	path = .atom/packages/spacegray-eighties-ui
	url = git@github.com:am/spacegray-eighties-ui.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
