'editor':
  'fontSize': 12
  'fontFamily': 'Menlo'
  'showInvisibles': true
  'showIndentGuide': true
'core':
  'themes': [
    'spacegray-eighties-ui'
    'base16-eighties-dark'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'exception-reporting':
  'userId': 'dae5ff96-71f4-9956-8185-1267b4530771'
'release-notes':
  'viewedVersion': '0.78.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '82a960e10a3a465931b291e69cb3150c44c81f4f'
'recent-files':
  'updated': false
